<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.debugVisualization">
      <visualization
            class="de.cau.cs.kieler.klay.planar.graph.PGraph"
            transformation="de.cau.cs.kieler.klighd.debug.graphTransformations.pGraph.PGraphTransformation">
      </visualization>
      <visualization
            class="de.cau.cs.kieler.klay.planar.graph.PNode"
            transformation="de.cau.cs.kieler.klighd.debug.graphTransformations.pGraph.PNodeTransformation">
      </visualization>
      <visualization
            class="de.cau.cs.kieler.klay.layered.graph.LGraph"
            transformation="de.cau.cs.kieler.klighd.debug.graphTransformations.lGraph.LGraphTransformation">
      </visualization>
      <visualization
            class="de.cau.cs.kieler.klay.layered.graph.LNode"
            transformation="de.cau.cs.kieler.klighd.debug.graphTransformations.lGraph.LNodeTransformation">
      </visualization>
      <visualization 
      		class="de.cau.cs.kieler.klay.force.graph.FBendpoint"
      		transformation="de.cau.cs.kieler.klighd.debug.graphTransformations.fGraph.FBendpointTransformation">
      </visualization>
      <visualization
      		class="de.cau.cs.kieler.klay.force.graph.FGraph" 
      		transformation="de.cau.cs.kieler.klighd.debug.graphTransformations.fGraph.FGraphTransformation">
      </visualization>
      <visualization 
      		class="de.cau.cs.kieler.klay.force.graph.FNode" 
      		transformation="de.cau.cs.kieler.klighd.debug.graphTransformations.fGraph.FNodeTransformation">
      </visualization>
   </extension>

</plugin>
