<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.debukviz.transformations"
         name="DebuKViz Transformations"
         schema="schema/debugVisualization.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cau.cs.kieler.debukviz.DebuKVizPlugin">
      </startup>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.debukviz.DebuKVizSynthesis"
            id="de.cau.cs.kieler.debukviz.synthesis">
      </diagramSynthesis>
   </extension>
   <extension
         point="de.cau.cs.kieler.debukviz.transformations">
      <visualization
            class="java.util.ArrayDeque"
            transformation="de.cau.cs.kieler.debukviz.transformations.ArrayDequeTransformation">
      </visualization>
      <visualization
            class="java.lang.Boolean"
            transformation="de.cau.cs.kieler.debukviz.transformations.ObjectValueTransformation">
      </visualization>
      <visualization
            class="java.lang.Character"
            transformation="de.cau.cs.kieler.debukviz.transformations.ObjectValueTransformation">
      </visualization>
      <visualization
            class="java.util.ArrayList"
            transformation="de.cau.cs.kieler.debukviz.transformations.ArrayListTransformation">
      </visualization>
      <visualization
            class="java.util.BitSet"
            transformation="de.cau.cs.kieler.debukviz.transformations.BitSetTransformation">
      </visualization>
      <visualization
            class="java.util.EnumMap"
            transformation="de.cau.cs.kieler.debukviz.transformations.EnumMapTransformation">
      </visualization>
      <visualization
            class="java.util.EnumSet"
            transformation="de.cau.cs.kieler.debukviz.transformations.EnumSetTransformation">
      </visualization>
      <visualization
            class="java.util.HashMap"
            transformation="de.cau.cs.kieler.debukviz.transformations.KeyValueTransformation">
      </visualization>
      <visualization
            class="java.util.HashSet"
            transformation="de.cau.cs.kieler.debukviz.transformations.HashSetTransformation">
      </visualization>
      <visualization
            class="java.util.IdentityHashMap"
            transformation="de.cau.cs.kieler.debukviz.transformations.IdentityHashMapTransformation">
      </visualization>
      <visualization
            class="java.util.Hashtable"
            transformation="de.cau.cs.kieler.debukviz.transformations.KeyValueTransformation">
      </visualization>
      <visualization
            class="java.util.LinkedHashMap"
            transformation="de.cau.cs.kieler.debukviz.transformations.LinkedHashMapTransformation">
      </visualization>
      <visualization
            class="java.util.PriorityQueue"
            transformation="de.cau.cs.kieler.debukviz.transformations.PriorityQueueTransformation">
      </visualization>
      <visualization
            class="java.util.TreeMap"
            transformation="de.cau.cs.kieler.debukviz.transformations.TreeMapTransformation">
      </visualization>
      <visualization
            class="java.util.TreeSet"
            transformation="de.cau.cs.kieler.debukviz.transformations.TreeSetTransformation">
      </visualization>
      <visualization
            class="java.util.Stack"
            transformation="de.cau.cs.kieler.debukviz.transformations.VectorTransformation">
      </visualization>
      <visualization
            class="java.util.Vector"
            transformation="de.cau.cs.kieler.debukviz.transformations.VectorTransformation">
      </visualization>
      <visualization
            class="java.util.WeakHashMap"
            transformation="de.cau.cs.kieler.debukviz.transformations.WeakHashMapTransformation">
      </visualization>
      <visualization
            class="java.lang.Number"
            transformation="de.cau.cs.kieler.debukviz.transformations.ObjectValueTransformation">
      </visualization>
      <visualization
            class="java.lang.String"
            transformation="de.cau.cs.kieler.debukviz.transformations.StringTransformation">
      </visualization>
      <visualization
            class="java.util.LinkedHashSet"
            transformation="de.cau.cs.kieler.debukviz.transformations.LinkedHashSetTransformation">
      </visualization>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.cau.cs.kieler.debukviz.preferences.DebuKVizPreferencePage"
            id="de.cau.cs.kieler.klighd.debug.preferencePage"
            name="KIELER Debug Visualization">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.debukviz.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
