<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.debukviz.transformations"
         name="DebuKViz Transformations"
         schema="schema/debugVisualization.exsd"/>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.debukviz.DebuKVizSynthesis"
            id="de.cau.cs.kieler.debukviz.synthesis">
      </diagramSynthesis>
   </extension>
   <extension
         point="de.cau.cs.kieler.debukviz.transformations">
      <visualization
            type="java.lang.Object"
            transformation="de.cau.cs.kieler.debukviz.transformations.DefaultTransformation">
      </visualization>
      <visualization
            type="java.lang.Boolean"
            transformation="de.cau.cs.kieler.debukviz.transformations.SimpleValueTransformation">
      </visualization>
      <visualization
            type="java.lang.Number"
            transformation="de.cau.cs.kieler.debukviz.transformations.SimpleValueTransformation">
      </visualization>
      <visualization
            type="java.lang.Character"
            transformation="de.cau.cs.kieler.debukviz.transformations.SimpleValueTransformation">
      </visualization>
      <visualization
            type="java.lang.String"
            transformation="de.cau.cs.kieler.debukviz.transformations.StringTransformation">
      </visualization>
      <visualization
            type="java.lang.Enum"
            transformation="de.cau.cs.kieler.debukviz.transformations.EnumTransformation">
      </visualization>
      <visualization
            type="java.util.List"
            transformation="de.cau.cs.kieler.debukviz.transformations.ListTransformation">
      </visualization>
      <visualization
            type="java.util.Queue"
            transformation="de.cau.cs.kieler.debukviz.transformations.QueueTransformation">
      </visualization>
      <visualization
            type="java.util.Set"
            transformation="de.cau.cs.kieler.debukviz.transformations.SetTransformation">
      </visualization>
      <visualization
            type="java.util.Map"
            transformation="de.cau.cs.kieler.debukviz.transformations.MapTransformation">
      </visualization>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.debug.ui"
            class="de.cau.cs.kieler.debukviz.ui.VariablesDiagramViewPart"
            icon="icons/view_icon.gif"
            id="de.cau.cs.kieler.debukviz.variablesView"
            name="Variables Diagram"
            restorable="true">
      </view>
   </extension>

</plugin>
